<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/sidebar/sidebar.html'"></div>

<div id="content">
  <div id="sub-nav">
    Overview
    <div class="right">
      <a class="btn-floating btn-large waves-effect waves-light"><i class="mdi-content-add"></i></a>
    </div>
  </div>

  <div class="content-list" ng-hide="$root.grid">
    <div class="item" item-list ng-repeat="n in range(1,15)">
      <i class="mdi-social-person small"></i>
      <h2 class="header">Evan David Kristian</h2>
      <p class="description">Administrator, ev.kristian@gmail.com</p>
    </div>
    <div ng-init="user = 'evandavid'; name = 'Evan David Kristian'"></div>
    <div class="content-value" ng-hide="$root.grid">
      <div class="main-value">
        <i class="mdi-social-person large image z-depth-1"></i>
        <div class="details">
          <label>Username</label>
          <div>
            <p editable-text="user">{{user || 'empty'}}</p>
          </div>
          <label>Name</label>
          <div>
            <p editable-text="name">{{name || 'empty'}}</p>
          </div>
          <label>Role</label>
          <div>
            <p>Administrator</p>
          </div>
        </div>
        <div class="extras">
          <h5>Sessions</h5>
          <table class="hoverable bordered">
            <thead>
              <tr>
                  <th data-field="id">Name</th>
                  <th data-field="name">Item Name</th>
                  <th data-field="price">Item Price</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Alvin</td>
                <td>Eclair</td>
                <td>$0.87</td>
              </tr>
              <tr>
                <td>Alan</td>
                <td>Jellybean</td>
                <td>$3.76</td>
              </tr>
              <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td>$7.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  

  <div class="content-grid row" ng-show="$root.grid">
    <div class="col s3" ng-repeat="n in range(1,15)">
      <div class="card medium">
        <div class="card-image card-icon waves-effect waves-block waves-light blue lighten-3">
          <i class="mdi-social-person small"></i>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Evan David Kristian <i class="mdi-navigation-more-vert right"></i></span>
          <p>Administrator, ev.kristian@gmail.com</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
      </div>
  </div>
</div>
