@import 'variables';

html {
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
}

.nav-wrapper {
  background-color: $headerBgColor;
  .brand-logo {
    color: #64b5f6 ;
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 20px;
    width: 180px;
  }
}

#sidebar {
  position: fixed;
  z-index: 2;
  width: 60px;
  bottom: 0;
  top: 0;
  padding-top: 65px;
  background-color: $sidebarBgColor;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-box-shadow: 2px 0 5px -2px #888;
  box-shadow: 2px 0 5px -2px #888;
  > .sidebar-nav {
    display: table;
    padding-left: 10px;
    vertical-align: middle;
    cursor: pointer;
    padding-bottom: 5px;
    > i {
      border: 2px solid $sidebarIconBgColor;
      border-radius: 18px;
      color: $sidebarIconColor;
      margin-right: 10px;
      padding: 2px;
      font-size: 28px;
    }
    > div {
      vertical-align: middle;
      color: #ffffff;
      display: table-cell;
      opacity: 0;
      -webkit-transition: opacity 0.4s ease-in-out;
      -moz-transition: opacity 0.4s ease-in-out;
      -o-transition: opacity 0.4s ease-in-out;
      transition: opacity 0.4s ease-in-out;
    }

    &:hover {
      > i {
        color: $sidebarIconColorActive;
        background: $sidebarIconBgColor;
      }
    }

    &.active {
       > i {
        color: $sidebarIconColorActive;
        background: #15A7D3;
        border-color: #15A7D3;
      }
    }
  }

  &:hover {
    width: 200px;
    > .sidebar-nav > div {
      opacity: 1;
    }
  }
}


.brand-logo {
  width: 200px !important;
}

#content {
  margin-left: 60px;
  position: relative;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: 55px;
  line-height: 55px;
}


.context-nav {
  position: absolute;
  left: 200px;
  color: $headerColor;
  > li {
    &.label:hover {
      background: $headerBgColor;
    }
    > i.button {
      padding: 0 15px;
      cursor: pointer;
    }
  }
}

.brand-logo {
  -webkit-box-shadow: 2px 0 5px -2px #888;
  box-shadow: 2px 0 5px -2px #888;
}

#sub-nav {
  border-bottom: 1px solid $submenuBorder;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: $submenuBgColor;
  color: $submenuColor;

  > .right > .btn, .btn-flat, .button-group {
    margin-left: 10px;
  }

  > .right > .btn, .btn-flat {
    margin-top: 7px;
  }
}

.navbar-fixed {
  height: 55px;
}

.button-group {
  > div {
    border: 1px solid #8799ab;
    cursor: pointer;
    display: inline;
    margin-left: -4px;
    padding: 8px 10px;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;

    &:hover, &.active {
      background: $sidebarBgColor;
      color: $sidebarIconColor;
    }

    &:first-child {
      border-right: none;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
    }

    &:last-child {
      border-left: none;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
}

.content-list {
  > .item {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    padding: 0 15px;
    position: relative;
    &:hover, &.active {
      border-left: 5px solid #15A7D3;
      padding-left: 10px;
      > i {
        padding-right: 6px;
      }
      > h2, p {
        left: 66px;
      }

      &:nth-child(even){
        background: darken($listBgColor, 5%);
      }

      &:nth-child(odd){
        background: darken(#ffffff, 5%);
      }
    }
    &:nth-child(even) {
      background: $listBgColor;
    }
    > i {
      border-right: 1px dashed #ccc;
      padding: 5px 5px;
    }
    > h2 {
      font-size: 1rem;
      left: 70px;
      font-weight: 500;
      margin: 0;
      position: absolute;
      top: -13px;
    }
    > p {
      font-size: 0.9rem;
      font-weight: 400;
      left: 70px;
      position: absolute;
      top: 8px;
    }
  }
}

.content-value {
  background: none repeat scroll 0 0 #fff;
  border-left: 1px solid #ccc;
  position: absolute;
  right: 0;
  top: 50px;
  width: 0;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}
