@import 'variables';

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-x: none;
}

.nav-wrapper {
  background-color: $headerBgColor;
  .brand-logo {
    color: #64b5f6 ;
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 20px;
    width: 180px;
  }
}

.card-icon {
  >i {
    color: #e3f2fd;
    font-size: 9rem;
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
  }
}

#sidebar {
  position: fixed;
  z-index: 2;
  width: 60px;
  bottom: 0;
  top: 0;
  padding-top: 65px;
  background-color: $sidebarBgColor;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-box-shadow: 2px 0 5px -2px #888;
  box-shadow: 2px 0 5px -2px #888;
  > .sidebar-nav {
    display: table;
    padding-left: 10px;
    vertical-align: middle;
    cursor: pointer;
    padding-bottom: 5px;
    width: 0px;
    > i {
      border: 2px solid $sidebarIconBgColor;
      border-radius: 18px;
      color: $sidebarIconColor;
      margin-right: 10px;
      padding: 2px;
      font-size: 28px;
    }
    > div {
      vertical-align: middle;
      color: #ffffff;
      display: table-cell;
      position: absolute;
      left: 60px;
      margin-top: -30px;
      opacity: 0;
      width: 0;
      -webkit-transition: opacity 0.4s ease-in-out;
      -moz-transition: opacity 0.4s ease-in-out;
      -o-transition: opacity 0.4s ease-in-out;
      transition: opacity 0.4s ease-in-out;
    }

    &:hover {
      width: 200px;
      > i {
        color: $sidebarIconColorActive;
        background: $sidebarIconBgColor;
      }
    }

    &.active {
       > i {
        color: $sidebarIconColorActive;
        background: #15A7D3;
        border-color: #15A7D3;
      }
    }
  }

  &:hover {
    width: 200px;
    > .sidebar-nav > div {
      opacity: 1;
    }
  }
}


.brand-logo {
  width: 200px !important;
}

#content {
  margin-left: 60px;
  position: relative;
  background: darken(#FFF, 5%);

  > .content-grid {
    padding: 10px;
    box-sizing: border-box;
  }
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: 55px;
  line-height: 55px;
}


.context-nav {
  position: absolute;
  left: 200px;
  color: $submenuColor;
  > li {
    &.label:hover {
      background: none;
    }
    > i.button {
      padding: 0 15px;
      cursor: pointer;
    }
  }
}

.brand-logo {
  -webkit-box-shadow: 2px 0 5px -2px #888;
  box-shadow: 2px 0 5px -2px #888;
}

#sub-nav {
  border-bottom: 1px solid $submenuBorder;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: $submenuBgColor;
  color: $submenuColor;

  > .right > .btn, .btn-flat, .button-group {
    margin-left: 10px;
  }

  > .right > .btn-floating {
    margin-top: 21px;
    background: $submenuColor;
  }
}

.navbar-fixed {
  height: 55px;
}

.button-group {

  &.icon {
    line-height: 50px;
    > div {
      padding: 8px 24px;
      > i {
        font-size: 1.8rem;
        margin-left: -14px;
        margin-top: 0px;
        position: absolute;
      }
    }
  }
  > div {
    border: 1px solid #8799ab;
    cursor: pointer;
    display: inline;
    margin-left: -4px;
    padding: 8px 10px;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;

    &:hover, &.active {
      background: darken($submenuBgColor, 70%);
      color: $submenuColor;

      > i {
        color: $submenuBgColor;
      }
    }

    &:first-child {
      border-right: none;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
    }

    &:last-child {
      border-left: none;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
}

.content-list {
  > .item {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    padding: 0 15px;
    position: relative;
    &:hover, &.active {
      border-left: 5px solid #15A7D3;
      padding-left: 10px;
      > i {
        padding-right: 6px;
      }
      > h2, p {
        left: 66px;
      }

      &:nth-child(even){
        background: darken($listBgColor, 1.5%);
      }

      &:nth-child(odd){
        background: darken($listBgColorOdd, 1.5%);
      }
    }
    &:nth-child(even) {
      background: $listBgColor;
    }
    &:nth-child(odd) {
      background: $listBgColorOdd;
    }
    > i {
      border-right: 1px dashed #ccc;
      padding: 5px 5px;
    }
    > h2 {
      font-size: 1rem;
      left: 70px;
      font-weight: 500;
      margin: 0;
      position: absolute;
      top: -13px;
    }
    > p {
      font-size: 0.9rem;
      font-weight: 400;
      left: 70px;
      position: absolute;
      top: 8px;
    }
  }
}

.content-value {
  background: none repeat scroll 0 0 #fff;
  border-left: 1px solid #ccc;
  position: absolute;
  right: 0;
  top: 50px;
  width: 0;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -o-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  &.active {
    padding: 10px 20px;
    width: 50%;
  }
  > .main-value {
    > .image {
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 3px;
    }
    > .details {
      left: 165px;
      position: absolute;
      top: 10px;

      > div {
        margin-bottom: 6px;
        margin-top: -5px;
        > p {
          font-size: 1.15rem;
          line-height: 12px;
          margin: 0px 0 1px;
          padding-bottom: 4px;
          display: inline-block;
        }
      }
    }

    > .extras {
      margin-top: 30px;
      > h5 {
        border-bottom: 1px dashed #ccc;
        margin-bottom: 0;
        padding-bottom: 5px;
      }
    }
  }
}

#nav-mobile {
  a, li {
    color: $submenuColor;
  }
  .as-text:hover {
    background: $headerBgColor;
  }
}

#dropdown1 {
  width: 200px !important;
  > li > a {
    font-size: 1rem;
  }
}

// editable
.editable-wrap {
  display: block;
  margin-top: -5px;

  input {
    font-size: 1.15rem;
    height: 20px;
    margin-top: -5px;
    line-height: 12px;
    padding: 0;
  }

  .editable-buttons {
    position: absolute;
    margin-top: -14px;

     button {
      padding: 0 10px;
     }
  }
}