$headerBgColor: #FFFFFF;
$headerColor: #333;

$sidebarBgColor: #2b323a;
$sidebarIconColor: #FFFFFF;
$sidebarIconColorActive: #2b323a;
$sidebarIconBgColor: #FFFFFF;

$submenuBgColor: #f3f5f7;
$submenuBorder: #c3ccd5;
$submenuColor: #8799ab;

$listBgColor: #e0e0e0;
