$baseColor: #2196f3;

$headerBgColor: #FFFFFF;
$headerColor: #333;

// $sidebarBgColor: #2b323a;
$sidebarBgColor: darken($baseColor, 50%);
$sidebarIconColor: lighten($sidebarBgColor, 85%);
$sidebarIconColorActive: $sidebarBgColor;
$sidebarIconBgColor: $sidebarIconColor;

$submenuBgColor: lighten($baseColor, 45%);
$submenuBorder: #c3ccd5;
$submenuColor: darken($submenuBgColor, 75%);;

$listBgColor: lighten($baseColor, 43%);
$listBgColorOdd: lighten($baseColor, 50%);
