<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul class="context-nav">
        <li><i class="mdi-navigation-chevron-left button"></i></li>
        <li class="label">Page 1</li>
        <li><i class="mdi-navigation-chevron-right button"></i></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="components.html">Components</a></li>
        <li><a href="javascript.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
</div>
