<div id="sidebar">
  <div class="sidebar-nav">
    <i class="mdi-action-home small"></i>
    <div>Overview</div>
  </div>
  <div class="sidebar-nav">
    <i class="mdi-social-people small"></i>
    <div>Users</div>
  </div>
  <div class="sidebar-nav">
    <i class="mdi-maps-store-mall-directory small"></i>
    <div>Restaurants</div>
  </div>
  <div class="sidebar-nav">
    <i class="mdi-action-description small"></i>
    <div>Products</div>
  </div>
  <div class="sidebar-nav">
    <i class="mdi-action-assignment-returned small"></i>
    <div>Inventory</div>
  </div>
  <div class="sidebar-nav">
    <i class="mdi-editor-insert-chart small"></i>
    <div>Reports</div>
  </div>
  <div class="sidebar-nav">
    <i class="mdi-social-mood small"></i>
    <div>CRM</div>
  </div>
  <div class="sidebar-nav">
    <i class="mdi-action-settings small"></i>
    <div>Settings</div>
  </div>
</div>
